<div class="login-wrapper">
  <div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card login-card p-4 shadow">
      <h3 class="mb-3 text-center">Login</h3>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="input-group mb-3 custom-input">
          <span class="input-group-text">
            <i class="bi bi-person-fill"></i>
          </span>
          <input
            type="email"
            class="form-control"
            placeholder="User or Email"
            formControlName="identifierName"
          />
        </div>

        <div class="input-group mb-3 custom-input">
          <span class="input-group-text">
            <i class="bi bi-lock-fill"></i>
          </span>
          <input
            type="password"
            class="form-control"
            placeholder="Password"
            formControlName="password"
          />
        </div>

        <button type="submit" class="btn btn-login w-100" [disabled]="loginForm.invalid">
          Login
        </button>

        <div class="text-center mt-3">
          <a routerLink="/auth/forgot-password">Forgot your password?</a>
        </div>
        <div class="text-center mt-3">
          <a routerLink="/auth/register">Don't have an account? Sign up</a>
        </div>
      </form>
    </div>
  </div>
</div>
