<app-header></app-header>
<div class="main-container">
  <div class="main-content" [ngClass]="{ 'shifted': isSidebarOpen }">
    <h1 class="title">My dashboards</h1>
    <div class="dashboard-container">
      <div *ngFor="let dashboard of ownedDashboards" class="dashboard-card">
        <div class="card-top" (click)="goToDashboard(dashboard.id)"></div>
        <div class="card-bottom">
          <span class="card-name">{{ dashboard.name }}</span>
          <i class="bi bi-three-dots-vertical card-icon" (click)="openEditModal(dashboard)"></i>
        </div>
      </div>
      <div class="dashboard-actions">
        <button class="action-btn">
          <i class="bi bi-plus-circle" (click)="openCreateModal()"></i>
        </button>
      </div>
    </div>

    <h1 class="title">Shared with me</h1>
    <div class="dashboard-container">
      <div *ngFor="let dashboard of sharedDashboards" class="dashboard-card">
        <div
          class="card-top"
          (click)="goToDashboard(dashboard.id)"
          role="button"
          tabindex="0"
        ></div>
        <div class="card-bottom">
          <span class="card-name">{{ dashboard.name }}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<app-dashboard-create-modal
  *ngIf="showCreateModal"
  (save)="newDashboard($event.name, $event.description, $event.requiresReview)"
  (cancel)="closeCreateModal()"
>
</app-dashboard-create-modal>

<app-dashboard-edit-modal
  *ngIf="showEditModal && dashboardToEdit"
  [dashboard]="dashboardToEdit"
  (save)="updateDashboard($event)"
  (cancel)="closeEditModal()"
>
</app-dashboard-edit-modal>
