<div class="modal-backdrop" (click)="Cancel()">
  <div class="modal" cdkDrag cdkDragBoundary=".modal-backdrop" (click)="$event.stopPropagation()">
    <div class="modal-header" cdkDragHandle>
    <h2>Edit Dashboard</h2>
      </div>
    <label>Name:</label>
    <input type="text" [(ngModel)]="editedDashboard.name" />

    <label>Description:</label>
    <input type="text" [(ngModel)]="editedDashboard.description" />

    <div class="modal-actions">
      <button (click)="Save()">Save</button>
      <button (click)="Cancel()">Close</button>
      </div>
    </div>
  </div>