<div class="register-wrapper">
  <div class="card register-card shadow">
    <h3 class="mb-3 text-center" style="color: #713e5a; font-weight: 800;">Register</h3>

    <div *ngIf="successMessage" class="alert alert-success text-center d-flex flex-column align-items-center justify-content-center" style="min-height: 200px; background-color: #fdfaf5; border-color: #63a375; color: #63a375;">
      <i class="bi bi-check-circle-fill" style="font-size: 2rem;"></i>
      <p class="mt-2">{{ successMessage }}</p>
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger text-center" style="background-color: #fdfaf5; border-color: #ca6680; color: #ca6680;">
      {{ errorMessage }}
    </div>

    <div *ngIf="!successMessage">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="input-group mb-3 custom-input">
          <span class="input-group-text"><i class="bi bi-person-fill"></i></span>
          <input type="text" class="form-control" placeholder="Username" formControlName="name" />
        </div>

        <div class="input-group mb-3 custom-input">
          <span class="input-group-text"><i class="bi bi-envelope-fill"></i></span>
          <input type="email" class="form-control" placeholder="E-mail" formControlName="email" />
        </div>

        <div class="input-group mb-3 custom-input">
          <span class="input-group-text"><i class="bi bi-lock-fill"></i></span>
          <input type="password" class="form-control" placeholder="Password" formControlName="password" />
        </div>

        <div class="input-group mb-3 custom-input">
          <span class="input-group-text"><i class="bi bi-shield-lock-fill"></i></span>
          <input type="password" class="form-control" placeholder="Repeat Password" formControlName="confirmPassword" />
        </div>

        <button type="submit" class="btn btn-register w-100" [disabled]="registerForm.invalid || !passwordsMatch()">
          Register
        </button>

        <div class="text-center mt-3">
          <a routerLink="/auth/login" class="small"> Already have an account? Log in </a>
        </div>
      </form>
    </div>
  </div>
</div>