<div class="modal-backdrop" (click)="Cancel()">
  <div class="modal" cdkDrag cdkDragBoundary=".modal-backdrop" (click)="$event.stopPropagation()">
    <div class="modal-header" cdkDragHandle>
      <h2>Edit Dashboard</h2>
    </div>
    <label>Name:</label>
    <input type="text" [(ngModel)]="editedDashboard.name" />

    <label>Description:</label>
    <input type="text" [(ngModel)]="editedDashboard.description" />

    <label>Requires Review</label>
    <input type="checkbox" [(ngModel)]=" editedDashboard.requiresReview" />

    <div class="templates-container">
      <label>Choose a template:</label>
      <div class="templates-grid">
        <div class="top-row">
          <div class="template-item" 
               *ngFor="let image of dashboardImages.slice(0, 3)"
               (click)="selectTemplate(image.id); $event.stopPropagation()"
               [class.selected]="selectedImageId === image.id">
            <img [src]="image.url" [alt]="image.label" />
            <p>{{ image.label }}</p>
          </div>
        </div>
        <div class="bottom-row">
          <div class="template-item" 
               *ngFor="let image of dashboardImages.slice(3, 5)"
               (click)="selectTemplate(image.id); $event.stopPropagation()"
               [class.selected]="selectedImageId === image.id">
            <img [src]="image.url" [alt]="image.label" />
            <p>{{ image.label }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-actions">
      <button class="modal-actions_btn" (click)="Save()">Save</button>
      <button class="modal-actions_btn" (click)="Cancel()">Close</button>
      <button class="btn border-0 btn-danger fw-bold" (click)="onDelete()">Delete</button>
    </div>
  </div>
</div>