<div class="modal-backdrop" (click)="Cancel()">
  <div class="modal" cdkDrag cdkDragBoundary=".modal-backdrop" (click)="$event.stopPropagation()">
    <div class="modal-header" cdkDragHandle>
      <h2>New Dashboard</h2>
    </div>
    <label>Name:</label>
    <input type="text" [(ngModel)]="newDashboardData.name" />
    <label>Description:</label>
    <input type="text" [(ngModel)]="newDashboardData.description" />
    <label>Requires Review</label>
      <input type ="checkbox" [(ngModel)]=" newDashboardData.requiresReview"/>
    <div class="modal-actions">
      <button (click)="Save()">Save</button>
      <button (click)="Cancel()">Close</button>
    </div>
  </div>
</div>
